@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #40414F;
    border-radius: 3px;
    border: none;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #565869;
  }
}